.container {
  width: 90%;
  margin: 5rem auto;
  padding: 3rem;
  background-color: #f1f1f1;
  border-radius: 1rem;
  /* display: flex;
  justify-content: space-around; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  justify-items: center;
  row-gap: 1rem;
}

img {
  background-size: cover;
  height: 3rem;
  cursor: pointer;
}
